<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ma.mobile.notebook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nodpad"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteBook">
        <activity android:name="ma.mobile.etudiant.MainActivity3"></activity>
        <activity android:name="ma.mobile.etudiant.MainActivity4" />
        <activity android:name="ma.mobile.etudiant.Listview" />
        <activity android:name="ma.mobile.etudiant.MainActivity2" />
        <activity android:name="ma.mobile.etudiant.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>